* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
    background-color: #EEEADD;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a {
	text-decoration: none;
}

#backgroundImage {
	background: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.55), 
	      rgba(0, 0, 0, 0.55)
	    ),
	    url("img/skyline.jpg");
    
	background-repeat: no-repeat;
	background-size: 100%;
/*      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url("img/skyline.jpg");*/
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 475px;
	width: 100%;
}

#logoWrapper {
	width: 500px;
	margin-left: 50px;
}

#logo {
	margin-top: -455px;
	font-size: 2.4em;
	letter-spacing: 1px;
	color: #FF4040;
}

#logo2 {
	font-size: 2.4em;
	letter-spacing: 1px;
	color: #FF4040;
}

.smallNav {
	display: none;
}

.navbar {
	margin-top: -55px;
	margin-right: 20px;
}

.navbar ul {
	color: #FF4040;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.navbar ul li {
	margin-right: 50px;
	text-decoration: none;
	display: table-cell;
}

.navbar ul li a {
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #FF4040;;
	transition:color 0.15s ease;
    cursor: pointer;
    display: inline-block;
    background: none;
    position: relative;
    cursor: pointer;
}

.hoverEffect a:hover {
    color:#269999;
}

.hoverEffect a::after {
	position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    transform-origin: left;
    transition: width 0.25s ease;
    border-bottom: 1px solid #269999;
}
.hoverEffect a:hover::after {
    width: 100%;
    border-bottom: 1px solid #269999;
}

#joinText {
	color: white;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: 2.5px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	width: 700px;
}

#subscribe {
	color: white;
	font-size: 18px;
	letter-spacing: 1.5px;
	text-align: center;
	margin-top: 80px;
}

.subWrapper {
	width: 100%;
}

.form-wrapper {
	margin: auto;
	width: 650px;
	padding-left: 25px;
}

.far {
	font-size: 42px;
	color: white;
}

#email {
	width: 80%;
	height: 61px;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.25em;
	outline: none;
	border: 0;
	box-shadow: 0px 1px 1px 1px #444;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

#send {
	letter-spacing: 1.5px;
	font-size: .5em;
	outline: none;
	border: 0;
	box-shadow: 1px 1px 1px 1px #444;
	background-color: #FF4040;
	float: left;
	width: 10%;
	height: 62px;
	cursor: pointer;
	margin-top: -1px;
	margin-left: 1px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.event-wrapper {
	height: 400px;
	width: 100%;
	margin-top: 200px;
}

.event {
	margin-right: auto;
	margin-left: auto;
	margin-top: 75px;
	width: 100%;
	height: 500px;
	display: block;
}

.event-div {
	display: block;
	width: 80%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

.date {
	font-size: 20px;
	font-weight: lighter;
	letter-spacing: 1px;
	float: left;
	margin-right: 10px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 0px;
}

.event-pic {
	border-radius: 3px;
	width: 33%;
	margin-top: -15px;
	display: inline;
	float: left;
}

.event-info {
	display: inline;
	font-size: 18px;
	font-weight: normal;
	float: left;
	height: 200px;
	width: 60%;
	margin-top: 25px;
	margin-left: 28px;
	word-wrap: break-word;
}

.time-specials {
	display: inline-flex;
	font-weight: bold;
	height: 25%;
	width: 100%;
}

.event-location {
	display: inline-block;
	color: #FF4040;
	font-size: 48px;
	font-weight: lighter;
	margin-top: 20px;
	margin-bottom: 0px;
}

.event-location a {
	color: #FF4040;
	text-decoration: none;
}

.date-sm {
	display: none;
}

.num {
	margin-right: 10px;
	margin-bottom: 0px;
	font-size: 48px;
	font-weight: bold;
	width: 50px;
	text-align: center;
}

.day-month-fix {
	display: inline-block;
	float: right; 
	font-size: 18px;
	font-weight: bold;
	padding: 0px;
	margin-top: 8px;
	letter-spacing: 1.2px;
}

.day {
	color: #737373;
	margin-top: -50px;
	margin-bottom: -20px;
}

.info {
	display: inline-flex;
	font-size: 20px;
	width: 600px;
	margin-top: 20px;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 4px;
	width: 90%;
	margin-left: 3%;
	margin-right: 5%;
	margin-top: 50px;
}

.column {
	-ms-flex: 25%;
	flex: 25%;
	padding: 0 4px;
}

.column li {
	list-style-type: none;
	margin-right: -20px;
	margin-left: -20px;
	padding: 0px;
}

.column .galleryImg {
	margin-top: 8px;
	vertical-align: middle;
}

.galleryImg {
	width: 100%;
	border-radius: 3px;
	opacity: 0.95;
	cursor: pointer;
    transition: 0.3s;
}

.galleryImg:hover {
	transform: scale(1.02);
	opacity: 1;
}

.formWrapper {
	margin-top: 175px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

#contactMessage {
	font-family: 'Roboto', sans-serif;
	font-size: 52px;
	text-align: center;
	margin-top: -50px;
	color: #269999;
}

form {
	width: 650px;
	text-align: center;
	margin: 20px auto;
}

.input {
	border: 0px;
	outline: 0px;
	padding: 1em;
	border-radius: 8px;
	display: block;
	width: 100%;
	margin-top: 1em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	box-shadow: 0px 1px 1px 1px rgba(170, 170, 170, 0.6);
}

.input:focus {
	box-shadow: 0px 0px 2px rgba(255, 64, 64, 1);
}

#submitInput {
	color: white;
	background-color: #FF4040;
}

#submitInput:hover {
	box-shadow: 0px 1px 1px 1px rgba(170, 170, 170, 0.6);
}

#messageInput {
	height: 185px;
	resize: none;
}

.half {
    float: left;
  	width: 48%;
  	margin-bottom: 1em;
}

.leftForms {
	margin-right: 2%;
}

.rightForms {
	width: 50%;
}

.fix:before,
.fix:after {
    content: " ";
    display: table;
}

.fix:after {
    clear: both;
}

#aboutBlurb {
	font-size: 1.5em;
	margin-top: 125px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 50px;
	border-radius: 5px;
	box-shadow: 0px 1px 1px 1px rgba(170, 170, 170, 0.6);
}

/* Modal CSS */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 2;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Image */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* Mobile CSS */
@media all and (max-width: 1070px) {
  	
  	.formWrapper {
		margin-top: 100px;
	}

  	.half {
    	width: 100%; 
     	float: none;
     	margin-bottom: 0; 
  	}

  	#logo {
  		font-size: 2em;
  		margin-left: 0px;
  	}

  	#logo2 {
  		font-size: 2em;
		margin-left: 25px;
	}

  	.navbar ul li {
  		margin-right: 40px;
  		margin-top: 5px;
  	}

  	.navbar ul li a {
		font-size: 17px;
	}

	.event-wrapper {
		width: 100%;
	}

	.event {
		width: 800px;
		margin-left: auto;
	}

	.event-div {
		margin-left: 0;
		width: 800px;
	}

	.event-pic {
		width: 275px;
		height: 275px;
	}

	.date {
		display: none;	
	}

	.event-info {
		font-size: 16px;
		width: 300px;
		margin-left: 30px;
		margin-right: 0px;
		margin-top: -30px;
		padding: 0;
	}

	.event-location {
		font-size: 36px;
		margin-left: 30px;
		margin-top: -15px;
	}

	.date-sm {
		display: inline-block;
		font-size: 24px;
		width: 300px;
		height: 50px;
		margin-left: 30px;
		margin-top: 0px;
	}

	.time-specials {
		display: inline-flex;
		font-weight: bold;
		height: 25%;
		width: 500px;
	}

	.info {
		display: inline-flex;
		font-size: 18px;
		width: 500px;
		margin-top: 20px;
	}

	.column {
		-ms-flex: 50%;
		flex: 50%;
		margin-top: -25px;
	}

	#aboutBlurb {
		font-size: 1.5em;
		margin-top: 125px;
		width: 85%;
	}
}

@media all and (max-width: 848px) {

	.navbar ul li a {
		font-size: 16px;
	}

	.event {
		width: 600px;
		margin-left: auto;
	}

	.event-div {
		margin-left: -50px;
		width: 600px;
	}

	.event-pic {
		width: 225px;
		height: 225px;
		margin-top: 5px;
	}

	.event-info {
		font-size: 16px;
		width: 300px;
		margin-left: 30px;
		margin-right: 0px;
		margin-top: -30px;
		padding: 0;
	}

	.info {
		display: inline-flex;
		font-size: 18px;
		width: 400px;
		margin-top: 10px;
	}

	.column {
		-ms-flex: 45%;
		flex: 45%;
		padding: 0 4px;
		margin-bottom: 0px;
		margin-top: -35px;
	}

	#aboutBlurb {
		margin-top: 90px;
	}

}

@media all and (max-width: 760px) {

	#logo {
		margin-left: -25px;
	}

	#logo2 {
		margin-left: -25px;
	}

	.navbar {
		margin-top: -55px;
		margin-right: 0px;
	}

	.navbar ul li {
		margin-right: 25px;
	}

	.navbar ul li a {
		font-size: 16px;
	}

	#joinText {
		width: 500px;
		font-size: 42px;
	}

	#subscribe {
		margin-top: 110px;
	}

	.form-wrapper {
		margin-top: 5px;
		width: 600px;
	}

	#email {
		width: 80%;
		height: 45px;
		float: left;
		margin-right: -1px;
		margin-left: auto;
	}

	#send {
		float: left;
		width: 8%;
		height: 46px;	
	}

	.event {
		width: 100%;
		margin-top: -80px;
	}

	.event-div {
		display: block;
		margin: 0 auto;
		width: 600px;
	}

	.event-pic {
		display: none;
		width: 305px;
		height: 225px;
		margin-left: 35%;
		margin-top: 5px;
	}

	.date-sm {
		display: block;
		font-size: 32px;
		width: 600px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		margin-top: 15px;
	}

	.time-specials {
		display: block;
		font-size: 16px;
		font-weight: bold;
		width: 600px;
		text-align: center;
		margin: 15px auto;
	}

	.event-info {
		display: block;
		text-align: center;
		font-size: 16px;
		width: 600px;
		margin: 0 auto;
		margin-top: -30px;
		padding: 0;
	}

	.info {
		display: block;
		margin: 0 auto;
		text-align: center;
		font-size: 22px;
		width: 400px;
		margin-top: 10px;
		padding-bottom: 80px;
	}

	.event-location {
		display: block;
		text-align: center;
		font-size: 52px;
		width: 600px;
		margin: 0 auto;
	}

	.far {
		font-size: 32px;
	}

	.row {
		margin-left: .25%;
		width: 95%;
	}

	.formWrapper {
		width: 85%;
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
	}

	#messageHead {
		margin-bottom: 20px;
	}

}

@media all and (max-width: 660px) {

	.normalNav {
		display: none;
	}

	.smallNav {
		display: flex;
		justify-content: center;
		overflow: hidden;
		background-color: #FFF;
		position: fixed;
		bottom: 0;
		width: 100%;
		padding-left: 8%;
		padding-right: 8%;
		z-index: 1;
	}

	.smallNav ul li {
		flex-grow: 1;
		justify-content: center;
	}

	.far {
		font-size: 30px;
	}

	.fas {
		font-size: 30px;
	}

	.subWrapper {
		height: 300px;
		padding-left: 0px;
	}

	.form-wrapper {
		width: 100%;
		margin-left: 0px;
		padding-left: 15%;
	}

	#email {
		width: 400px;
		height: 45px;
		margin-right: -1px;
		margin-top: -8px;
	}

	#send {
		float: left;
		width: 8%;
		height: 46px;
		margin-top: -9px;	
	}

	.event {
		margin-top: -150px;
	}

	.event-wrapper {
		margin-bottom: 100px;
	}

	#aboutBlurb {
		margin-top: 50px;
		margin-bottom: 150px;
		font-size: 1.2em;
	}

	.row {
		padding-left: 0px;
		margin-left: 0%;
		margin-right: 5%;
	}

}

@media all and (max-width: 600px) {

	.subWrapper {
		padding-left: 0px;
		margin-left: 0px;
		margin-top: 150px;
	}

	.form-wrapper {
		width: 100%;
		padding: 0;
		margin-left: 0;
	}

	form {
		padding-left: 0px;
		margin-left: 2%;
	}

	#email {
		width: 350px;
		height: 45px;
		margin-left: 8%;
	}

	.event-location {
		width: 100%;
	}

	#joinText {
		width: 95%;
		margin-top: 95px;
	}

	.event-wrapper {
		margin-left: 0px;
		width: 100%;
	}

	.event-div {
		width: 100%;
	}

	.event {
		width: 100%;
	}

	.date-sm {
		width: 100%;
	}

	.time-specials {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.event-info {
		width: 100%;
	}

	.info {
		width: 90%;
	}
}

@media all and (max-width: 519px) {
	
	#joinText {
		margin-top: -45px;
	}

	#email {
		width: 350px;
		height: 45px;
		margin-left: 3%;
	}

	.event-wrapper {
		padding-top: 50px;
	}
}

@media all and (max-width: 450px) {

	.form-wrapper {
		width: 50%;
		margin-left: 5%;
	}

	#email {
		width: 300px;
		margin-left: 2%;
	}

	.row {
		padding-left: 0px;
		margin-left: -10px;
		margin-right: 5%;
	}

	.column {
		-ms-flex: 100%;
		flex: 100%;
		padding: 0 4px;
		margin-bottom: 0px;
		margin-top: -35px;
	}

	#aboutBlurb {
		font-size: 1em;
		margin-top: 50px;
		width: 85%;
	}
}

@media all and (max-width: 380px) {

	#joinText {
		font-size: 38px;
	}
	
	#email {
		width: 250px;
	}

	#messageHead {
		font-size: 45px;
	}
}

@media all and (max-width: 350px) {

	.row {
		padding-left: 0px;
		margin-left: 3%;
		margin-right: 5%;
	}
}

@media all and (max-width: 340px) {

	.formWrapper {
		margin-left: 12%;
	}
}

#subscriptionWrapper {
	width: 100%;
	height: 350px;
}

#subAndEmailWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
}

#subscribe2 {
	color: white;
	font-size: 18px;
	letter-spacing: 1.5px;
	text-align: center;
	margin-left: -90px;
	margin-top: 50px;
	margin-bottom: 0px;
}

#email2 {
	width: 80%;
	height: 61px;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.25em;
	outline: none;
	border: 0;
	box-shadow: 0px 1px 1px 1px #444;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

#send2 {
	letter-spacing: 1.5px;
	font-size: 1.25em;
	outline: none;
	border: 0;
	box-shadow: 1px 1px 1px 1px #444;
	background-color: #FF4040;
	float: left;
	width: 10%;
	height: 62px;
	cursor: pointer;
	margin-top: -1px;
	margin-left: 0px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

@media all and (max-width: 760px) {

	.event-wrapper2 {
		margin-top: 100px;
	}

	#subAndEmailWrapper {
		margin-top: 50px;
		margin-bottom: 60px;
		width: 100%;
	}

	#subscriptionWrapper {
		width: 100%;
	}

	#email2 {
		height: 52px;
		width: 80%;
		flex-grow: 1;
	}

	#send2 {
		height: 53px;
	}
}

@media all and (max-width: 660px) {

	.event-wrapper2 {
		margin-top: 200px;
	}
}